<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.mapper.EnvMapper">

    <resultMap id="env" type="com.xxl.job.executor.po.Env">
        <result column="id" property="id"/>
        <result column="env_name" property="envName"/>
        <result column="remarks" property="remarks"/>
        <result column="env_value" property="envValue"/>
        <result column="create_time" property="createTime"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="ua" property="ua"/>
    </resultMap>

    <select id="getAllCookie" resultMap="env">
        SELECT
        t.id,
        t.env_name,
        t.remarks,
        t.env_value,
        t.create_time,
        t.sort,
        t.status,
        t.ua
        FROM env AS t
        WHERE t.env_name = #{envName}
        ORDER BY t.sort
    </select>

</mapper>