# Environment variables for docker-compose command

# Building
ALPINE_VERSION=latest
IMAGE_NAME=local/wangxian/alpine-mysql

# Running
CONTAINER_NAME=mysql
MYSQL_ROOT_PASSWORD=123456
MYSQL_USER=jdxxljob
MYSQL_PASSWORD=jdxxljob
MYSQL_DATABASE=jd-xxljob

HOST_ADDRESS=3306
